html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.footer {
  position: absolute;
  right: 2em;
  padding-left: 2em;
  bottom: 20px;
  font-size: 0.75em;
  font-family: "Lucida Console", Courier, monospace;
  background-color: #0f0f13;
  color: white;
}

div.footer a {
  color: white;
}
