/* Info button style */

div.info-button {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: white;
  opacity: 0.9;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
  font-family: "Lucida Console", Courier, monospace;
  cursor: pointer;
}

div.info-button:hover {
  opacity: 1;
}

div.info-button a {
  text-decoration: none;
  color: black;
}


/* Info box style */

div.info {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 5px;
  line-height: 1.5em;
  font-family: "Lucida Console", Courier, monospace;
  display: none;
}

div.info h2 {
  margin-bottom: 0.5em;
}

div.info ul {
  padding-left: 1.5em;
  margin-top: 0;
}

div.info a {
  color: black;
}

/* in the center, full width, for narrow screens */
@media only screen and (max-width: 600px) {
  div.info {
    left: 2vw;
    width: 90vw;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}


/* in/out info box animations */

body.info div.info {
  display: block;
  animation-name: open-info;
  animation-duration: 1s;
}

@keyframes open-info {
  from {
    opacity: 0;
    transform: scale(0.8) translate(-50px, -50px);
  }
  to {
    opacity: 0.9;
  }
}


body.info-out div.info {
  display: block;
  opacity: 0;
  animation-name: close-info;
  animation-duration: 1s;
}

@keyframes close-info {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
