div.info-button {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: white;
  opacity: 0.9;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
  font-style: italic;
  cursor: pointer;
}

div.info-button:hover {
  opacity: 1;
}

div.info-button a {
  text-decoration: none;
  color: black;
}

div.info {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 5px;
  line-height: 1.5em;
  font-family: "Lucida Console", Courier, monospace;
  display: none;
}

div.info h2 {
  margin-bottom: 0.5em;
}

div.info ul {
  padding-left: 1.5em;
  margin-top: 0;
}

div.info a {
  color: black;
}

body.info div.info {
  display: block;
}

@media only screen and (max-width: 600px) {
  div.info {
    left: 2vw;
    width: 90vw;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
